@import "tachyons.min.css";
:root {
  --brand-royal-blue: #1A0A6E;
  --brand-sky-blue: #5CC8D8;
  --brand-branch-green: #1DA57E;
  --brand-violet: #6E56B1;
  --brand-ruby-red: #E95D68;
  --brand-black: #090326;
}

.plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
}

.brand-blue {
  color: var(--brand-royal-blue);
}

.brand-sky-blue {
  color: var(--brand-sky-blue);
}

.brand-violet {
  color: var(--brand-violet);
}

.brand-red {
  color: var(--brand-ruby-red);
}

.b--brand-blue {
  border-color: var(--brand-royal-blue);
}

.b--brand-violet {
  border-color: var(--brand-violet);
}

.b--brand-red {
  border-color: var(--brand-ruby-red);
}

.b--brand-green {
  border-color: var(--brand-branch-green);
}

.post {
  border-bottom: 4px solid var(--brand-sky-blue);
}

.bl-dotted {
  border-width: 9px;
  border-style: none none none dotted;
  border-color: var(--brand-branch-green);
}

a, a:visited {
  color: var(--brand-royal-blue);
